@font-face {
        font-family: 'NotoSans';
        src: url('../fonts/NotoSans.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'Recoleta';
        src: url('../fonts/Recoleta-SemiBold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}

* {
        margin: 0;
        padding: 0;
}
body {
        font-family: 'Recoleta-SemiBold', 'NotoSans', 'Arial', sans-serif;
}

.background_img {
        width: 1440px;
        height: 642px;
        background-image: url("../img/background.png");
}
.container {
        width: 1200px;
        margin: 0 auto;
}
.header {
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.nav_links {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

}
.link {
        margin-right: 30px;
}
.links {
        color: #FBFAF7;
        text-decoration: none;
        font-size: 16px;
        font-family: 'NotoSans';
}
.button {
        Width: 141px;
        Height: 52px;
        background: #198C36;
        border-radius: 160px;
        padding: 15px 25px;
}
.section_img {
        width: 700px;
        height: 540px;
        position: absolute;
        left: 660px;
}

.section1 {
        width: 480px;
        margin-top: 120px;
}
.hero_section {
        width: 391px;
        height: 196px;
        color: #FBFAF7;
        font-size: 48px;
        font-family: 'Recoleta';
}
.hero_p {
        color: #FBFAF7;
        font-size: 18px;
        font-family: 'NotoSans';
}
.card {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
}
.structure {
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.subject {

        display: flex;
        flex-direction: column;color:  #163A24;;
}
.subject_h2 {
        width: 325px;
        font-size: 48px;
        font-family: 'Recoleta';
        margin-bottom: 28px;
}
.subject_p {
        width: 374px;
        font-size: 18px;
}
.row_reverse {
        display: flex;
        flex-direction: row-reverse;
}
.partners {
        margin-top: 122px;
        font-size: 48px;
        text-align: center;
        font-family: 'Recoleta';
        color: #163A24;
}
.partners_logo {
        margin-left: 100px;
        margin-top: 60px;
        width: 1000px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.color {
        color: #FBFAF7;
        padding-top: 50px;
}
.background {
        width: 1440px;
        height: 570px;
        background-image: url("../img/background.png");
}
.cards_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
}
.cards_img {
        margin-bottom: 30px;
}
.cards_p {
        color: #FBFAF7;
        font-size: 18px;
}
.cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.back_color {
        width: 1440px;
        height: 775px;
        background-color: rgba(242, 239, 230, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.main_subject {
        width: 739px;
        height: 108px;
        text-align: center;
        color: #163A24;
        font-family: 'Recoleta';
        font-weight: 600;
        font-size: 48px;
}
.subject_text {
        width: 750px;
        height: 56px;
        font-family: 'NotoSans';
        font-size: 18px;
        text-align: center;
        color: #163A24;
        margin-top: 30px;
        margin-bottom: 10px;
}
.flex {
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.margin {
        margin-top: 183px;
}
.margin1 {
        margin-top: -32px;
}
.consider_card {
        display: flex;
        justify-content: space-between;
}
.consaider_card1 {
        width: 353px;
        height: 393px;
        background: #FBFAF7;
        box-shadow: 5px 5px 20px #E9E4D5;
        border-radius: 15px;
}
.card_h3 {
        width: 285px;
        height: 63px;
        font-family: 'Recoleta';
        font-size: 28px;
        color: #163A24;
        margin-top: 20px;
        margin-left: 40px;
}
.img_card {
        margin-top: 50px;
        margin-left: 40px;
}
.card_ul {
        font-family: 'NotoSans';
        font-weight: 400;
        font-size: 16px;
        color: #163A24;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 23px;
        margin-left: 65px;
}
.card_li {
        margin-top: 20px;
}
.card2_width {
        height: 450px;
}
.bcg_img {
        width: 1440px;
        height: 610px;
        background-image: url("../img/background2.png");
}
.padding1 {
        padding-top: 120px;
}
.offer_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.reference_p {
        width: 260px;
        height: 54px;
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #163A24;
}
.times {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: #163A24;
        margin-top: 15px;
}
.button_call {
        position: relative;
        left: 530px;
        width: 244px;
        height: 52px;
        background: #198C36;
        border-radius: 160px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
}
.button_cal_link {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FBFAF7;
        text-decoration: none;

}
.button_download {
        width: 191px;
        height: 52px;
        background: #198C36;
        border-radius: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
}
.download_link {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FBFAF7;
        text-decoration: none;
}
.h2_width {
        width: 360px;
        margin-bottom: 25px;
}
.back_img {
        width: 1440px;
        height: 425px;
        background-image: url("../img/img17.png");
        margin-top: 136px;
}
.started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
}
.subject_started {
        width: 549px;
        height: 54px;
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #FBFAF7;
        padding-top: 114px;
}
.main_started {
        width: 361px;
        height: 27px;
        font-size: 18px;
        font-family: 'NotoSans';
        font-weight: 400;
        color: #FBFAF7;
        padding-top: 26px;
}
.button_started {
        width: 258px;
        height: 52px;
        background: #FAB5A0;
        border-radius: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
}
.button_get {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #163A24;
}

.position1 {
        position: relative;
        top: -261px;
}
.position2 {
        position: relative;
        left: 835px;
        top: -261px;
}
/* MAIN */
/* FOOTER */
.footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
}
.company {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
}
.logos {
        margin-right: 100px;
}
.our_company {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #163A24;
        margin-right: 100px;
}
.icons {
        display: flex;
        justify-content: space-between;
}
.social_icons {
        margin-right: 10px;
}
.line{
        width: 1200px;
        height: 1px;
        background: #F2EFE6;
        color: #F2EFE6;
}
.footer_end {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.footer_text {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #163A24;
}
.footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin-top: 25px;
}
.footer_links {
        margin-right: 10px;
}
.footer_link {
        text-decoration: none;
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #198C36;
}
