@font-face {
        font-family: 'NotoSans';
        src: url('../fonts/NotoSans.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'Recoleta';
        src: url('../fonts/Recoleta-SemiBold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}

* {
        margin: 0;
        padding: 0;
}
body {
        font-family: 'Recoleta-SemiBold', 'NotoSans', 'Arial', sans-serif;
}

.header {
    width: 100%;
    height: 638px;
    background-color: #163A24;
}
.container {
        width: 1200px;
        margin: 0 auto;
}
header {
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.nav_links {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

}
.link {
        margin-right: 30px;
}
.links {
        color: #FBFAF7;
        text-decoration: none;
        font-size: 16px;
        font-family: 'NotoSans';
}
.button {
        Width: 141px;
        Height: 52px;
        background: #198C36;
        border-radius: 160px;
        padding: 15px 25px;
}
.eath {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section_img {
    background-image: url("../img/img1.svg");
    background-size: cover;
    width: 700px;
    height: 540px;
}

.section1 {
        width: 480px;
        margin-top: 120px;
}
.hero_section {
        width: 391px;
        color: #FBFAF7;
        font-size: 48px;
        font-family: 'Recoleta';
}
.hero_p {
        color: #FBFAF7;
        font-size: 18px;
        font-family: 'NotoSans';
}
.card {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
}
.structure {
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.subject {

        display: flex;
        flex-direction: column;color:  #163A24;;
}
.subject_h2 {
        width: 325px;
        font-size: 48px;
        font-family: 'Recoleta';
        margin-bottom: 28px;
}
.subject_p {
        width: 374px;
        font-size: 18px;
}
.row_reverse {
        display: flex;
        flex-direction: row-reverse;
}
.partners {
        margin-top: 122px;
        font-size: 48px;
        text-align: center;
        font-family: 'Recoleta';
        color: #163A24;
}
.partners_logo {
    margin-top: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.color {
        color: #FBFAF7;
        padding-top: 50px;
}
.background {
    background-color: #163A24;
    width: 100%;
    height: 570px;

}
.cards_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
}
.cards_img {
        margin-bottom: 30px;
}
.cards_p {
        color: #FBFAF7;
        font-size: 18px;
}
.cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.back_color {
        width: 100%;
        height: 775px;
        background-color: rgba(242, 239, 230, 1);
}
.sizes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sizes_img {
    width: 100%;
}
.main_subject {
        width: 739px;
        height: 108px;
        text-align: center;
        color: #163A24;
        font-family: 'Recoleta';
        font-weight: 600;
        font-size: 48px;
}
.subject_text {
        width: 750px;
        height: 56px;
        font-family: 'NotoSans';
        font-size: 18px;
        text-align: center;
        color: #163A24;
        margin-top: 30px;
        margin-bottom: 10px;
}
.flex {
        margin-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.margin {
        margin-top: 183px;
}
.margin1 {
        margin-top: -32px;
}
.consider_card {
        display: flex;
        justify-content: space-between;
}
.consaider_card1 {
        width: 353px;
        height: 393px;
        background: #FBFAF7;
        box-shadow: 5px 5px 20px #E9E4D5;
        border-radius: 15px;
}
.card_h3 {
        width: 285px;
        height: 63px;
        font-family: 'Recoleta';
        font-size: 28px;
        color: #163A24;
        margin-top: 20px;
        margin-left: 40px;
}
.img_card {
        margin-top: 50px;
        margin-left: 40px;
}
.card_ul {
        font-family: 'NotoSans';
        font-weight: 400;
        font-size: 16px;
        color: #163A24;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 23px;
        margin-left: 65px;
}
.card_li {
        margin-top: 20px;
}
.card2_width {
        height: 450px;
}
.bcg_img {
    width: 100%;
    height: 610px;
    background-color: #E9E4D5;
}
.padding1 {
        padding-top: 120px;
}
.offer_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.reference_p {
        width: 260px;
        height: 54px;
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #163A24;
}
.times {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: #163A24;
        margin-top: 15px;
}
.button_call {
        background: #198C36;
        border-radius: 160px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
}
.button_cal_link {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FBFAF7;
        text-decoration: none;

}
.button_download {
        width: 191px;
        height: 52px;
        background: #198C36;
        border-radius: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
}
.download_link {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FBFAF7;
        text-decoration: none;
}
.h2_width {
        width: 360px;
        margin-bottom: 25px;
}
.back_img {
        width: 100%;
        height: 400px;
        background-color: #163A24;
        margin-top: 136px;
}
.started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
}
.subject_started {
        width: 549px;
        height: 54px;
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #FBFAF7;
        padding-top: 114px;
}
.main_started {
        width: 361px;
        height: 27px;
        font-size: 18px;
        font-family: 'NotoSans';
        font-weight: 400;
        color: #FBFAF7;
        padding-top: 26px;
}
.button_started {
        width: 258px;
        height: 52px;
        background: #FAB5A0;
        border-radius: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
}
.button_get {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #163A24;
}
.clerksy {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.position1 {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-image: url("../img/img18.png");
}
.position2 {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-image: url("../img/img19.png");
}
/* MAIN */
/* FOOTER */
.footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
}
.company {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
}
.logos {
        margin-right: 100px;
}
.our_company {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #163A24;
        margin-right: 100px;
}
.icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.social_icons {
        margin-right: 10px;
}
.line{
        width: 100%;
        height: 1px;
        background: #F2EFE6;
        color: #F2EFE6;
}
.footer_end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
}
.footer_text {
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #163A24;
}
.footer_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
}
.bars {
        display: none;
}
.footer_links {
        margin-right: 10px;
}
.footer_link {
        text-decoration: none;
        font-family: 'NotoSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #198C36;
}
@media (min-width: 375px) {
    .container {
        width: 350px;
    }
    .nav_links {
        display: none;
    }
    .bars {
        display: block;
        color: #F2EFE6;
        background-color: #163A24;
        font-size: 25px;
        margin-left: 50%;
    }
    .logo {
        width: 130px;
        height: 48px;
    }
    .header {
        height: auto;
    }
    .eath {
        display: flex;
        flex-direction: column-reverse;
    }
    .section_img {
        margin-top: 60px;
        width: 375px;
        height: 280px;
    }
    .section1 {
        margin-top: 40px;
    }
    .hero_section {
        width: 320px;
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero_p {
        width: 320px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .structure {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 60px;
    }
    .structure_img {
        width: 200px;
        height: 200px;
    }
    .subject_h2 {
        width: 300px;
        font-size: 32px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .subject_p {
        width: 300px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .partners_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partners {
        width: 300px;
        font-size: 32px;
        line-height: 30px;
        text-align: center;
        margin: 0;
    }
    .partners_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .partners_link {
        margin-bottom: 40px;
    }
    .background {
        height: auto;
    }
    .card_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards_flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 40px;
    }
    .cards {
        padding: 10px;
        margin-bottom: 80px;
    }
    .cards_p {
        margin-top: 10px;
    }
    .cards_img {
        margin-bottom: 0;
    }
    .back_color {
        height: auto;
    }
    .main_subject {
        font-size: 32px;
        width: 300px;
        line-height: 30px;
        padding-top: 100px;
    }
    .subject_text {
        width: 300px;
        line-height: 18px;
        font-size: 14px;
    }
    
    .margin {
        margin-top: 100px;
    }
    .fit_img {
        margin-top: 40px;
    }
    .consider_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .consaider_card1 {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }
    .card_h3 {
        width: 250px;
        font-size: 25px;
    }
    .card_ul {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .bcg_img {
        height: auto;
    }
    .offer_card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reference {
        margin-bottom: 60px;
    }
    .arrow {
        display: block;
        font-size: 60px;
        color: #FAB5A0;
        margin-bottom: 30px;
    }
    .arrow-rowd {
        display: none;
    }
    .center {
        display: flex;
        flex-direction: column;
    }
    .button_call {
        margin-bottom: 100px;
        width: 250px;
    }
    .button_cal_link {
        padding: 10px;
    }
    .subject {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .back_img {
        height: auto;
    }
    .clerksy {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subject_started {
        width: 300px;
        font-size: 32px;
        line-height: 30px;
        text-align: center;
    }
    .main_started {
        width: 300px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }
    .button_started {
        width: 200px;
    }
    .button_get {
        font-size: 16px;
    }
    .with {
        width: 375px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .footer_end {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_nav {
        margin-top: 20px;
    }
}
@media (min-width: 450px) {
    .container {
        width: 375px;
    }
    .bars {
        font-size: 28px;
    }
    .section_img {
        width: 450px;
        height: 320px;
    }
    .hero_section {
        width: 350px;
        font-size: 40px;
        line-height: 38px;
    }
    .hero_p {
        width: 350px;
        font-size: 16px;
        line-height: 20px;
    }
    .subject_p {
        width: 320px;
        font-size: 16px;
        line-height: 20px;
    }
    .partners {
        width: 320px;
        font-size: 35px;
        line-height: 35px;
    }
    .main_subject {
        font-size: 35px;
        width: 320px;
        line-height: 35px;
    }
    .subject_text {
        width: 320px;
        line-height: 20px;
        font-size: 16px;
    }
    .sizes_img {
        width: 375px;
    }
    .consaider_card1 {
        width: 320px;
    }
    .card_h3 {
        width: 270px;
        font-size: 26px;
    }
    .card_ul {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .button_call {
        margin-bottom: 100px;
        width: 270px;
    }
    .subject_started {
        width: 320px;
        font-size: 35px;
        line-height: 35px;
    }
    .main_started {
        width: 320px;
        font-size: 16px;
        line-height: 20px;
    }
    .button_started {
        width: 220px;
    }
    .button_get {
        font-size: 16px;
    }
    .with {
        width: 450px;
    }
}
@media (min-width: 600px) {
    .container {
        width: 450px;
    }
    .bars{
        font-size: 30px;
    }
    .section_img {
        margin-top: 60px;
        width: 600px;
        height: 400px;
    }
    .sizes_img {
        width: 420px;
    }
    .company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .line {
        width: 100%;
    }
    .footer_end {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_nav {
        margin-top: 20px;
    }
}
@media (min-width: 800px) {
    .container {
        width: 600px;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bars {
        display: none;
    }
    .logo {
        width: 153px;
        height: 48px;
    }
    .eath {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center
    }
    .hero_section {
        width: 300px;
        font-size: 35px;
        line-height: 35px;
    }
    .hero_p {
        width: 300px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    .structure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .row_reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .partners_logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .partners_link {
        margin-bottom: 40px;
        margin-right: 80px;
    }
    .cards_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .main_subject {
        font-size: 35px;
        width: 400px;
        line-height: 35px;
    }
    .subject_text {
        width: 400px;
        line-height: 20px;
        font-size: 16px;
    }
    .sizes_img {
        width: 100%;
    }
    .consider_card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;

    }
    .consaider_card1 {
        width: 280px;
    }

    .card_h3 {
        width: 80%;
    }
    .offer_card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .arrow {
        display: none;
    }
    .arrow-rowd {
        display: block;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button_call {
        text-align: center;
    }
    .padding1 {
        padding-top: 0;
        margin-top: 0;
    }
    .clerksy {
        display: flex;
        flex-direction: row;
    }
    .with {
        width: 300px;
    }
    .company {
        display: flex;
        flex-direction: row;
    }
    .line {
        width: 100%;
    }
    .footer_end {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer_nav {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width: 950px) {
    .container {
        width: 800px;
    }
    .bars {
        display: none;
    }
    .logo {
        width: 153px;
        height: 48px;
        margin-right: auto;
    }
    .eath {
        display: flex;
        padding-left: 100px
    }
    .hero_section {
        width: 400px;
        font-size: 40px;
        line-height: 40px;
    }
    .hero_p {
        width: 400px;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .structure_img {
        width: 300px;
        height: 300px;
    }
    .subject_h2 {
        width: 400px;
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .subject_p {
        width: 400px;
        font-size: 18px;
        line-height: 22px;
    }
    .partners {
        width: 400px;
        font-size: 35px;
        line-height: 35px;
    }
    .partners_link {
        margin-right: 30px;
    }
    .main_subject {
        font-size: 35px;
        width: 550px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .subject_text {
        width: 550px;
        line-height: 25px;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .sizes_img {
        width: 100%;
        margin-bottom: 40px;
    }
    .consaider_card1 {
        width: 320px;
    }
}
@media (min-width: 950px) {
    .container {
        width: 800px;
    }
    .eath {
        
    }
    .section_img {
        width: 600px;
        height: 500px;
    }
    .hero_section {
        width: 400px;
        font-size: 40px;
        line-height: 40px;
    }
    .hero_p {
        width: 400px;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .structure_img {
        width: 300px;
        height: 300px;
    }
    .subject_h2 {
        width: 400px;
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .subject_p {
        width: 400px;
        font-size: 18px;
        line-height: 22px;
    }
    .partners {
        width: 400px;
        font-size: 35px;
        line-height: 35px;
    }
    .partners_link {
        margin-right: 30px;
    }
    .main_subject {
        font-size: 35px;
        width: 550px;
        line-height: 35px;
        margin-bottom: 0;
    }
    .subject_text {
        width: 550px;
        line-height: 25px;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    .sizes_img {
        width: 100%;
        margin-bottom: 40px;
    }
    .consaider_card1 {
        width: 320px;
    }
}
